.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.spacebetween {
  justify-content: space-around;
}

.mx-2 {
  margin-left: 12px;
  margin-right: 12px;
}

.itemImg {
  width: 14vw;
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}
